<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".workoutTemplate"
            android:theme="@style/Toolbar"
            android:parentActivityName=".workouts">

        </activity>
        <activity
            android:name=".timer_stopwatch"
            android:label="@string/title_activity_timer_stopwatch"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity> <!-- Log In Screen -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Sign Up screen -->
        <activity android:name=".signUp">
            <intent-filter>
                <action android:name=".signUp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- Home Screen -->
        <activity android:name=".Home">
            <intent-filter>
                <action android:name=".Home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- Workout Tab -->
        <activity
            android:name=".workouts"
            android:parentActivityName=".Home">
            <intent-filter>
                <action android:name=".workouts" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>